<div class="recipes_user_agreement">
  <style>
    @import url(//fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,cyrillic,cyrillic-ext);
    .recipes_user_agreement h1 {
    text-indent: 15px;
    font-style: normal;
    padding: 100px 0 50px 0;
    }
    .recipes_user_agreement h1:nth-child(2) {
    padding: 50px 0;
    }
    .recipes_user_agreement hr {
    background-color: rgb(238, 238, 238);
    border-color: rgb(238, 238, 238);
    }
    .recipes_user_agreement h4 {
    font-size: 20px;
    padding: 20px 0;
    display: inline-block;
    }
    .recipes_user_agreement li {
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
    }
    .recipes_user_agreement a {
    font-weight: 500;
    }
    .recipes_user_agreement b {
    font-weight: 500;
    }
    .recipes_user_agreement li, .recipes_user_agreement p, .recipes_user_agreement ol, .recipes_user_agreement ul {
    font-family: 'Roboto';
    font-size: 17px;
    }
    .recipes_user_agreement > p {
    font-weight: 300;
    line-height: 25px;
    text-indent: 25px;
    text-align: justify;
    }
    .recipes_user_agreement > ol {
    font-size: 20px;
    padding: 20px 0;
    margin: 0;
    list-style-position: inside;
    }
    .recipes_user_agreement > ol > li {
    padding: 20px 0 20px 15px;
    margin: 0;
    font-size: 20px;
    border-bottom: solid rgb(238, 238, 238) 1px;
    }
    .recipes_user_agreement > ol > li:last-child {
    border-bottom: none;
    }
    .recipes_user_agreement > ol > li > p {
    font-weight: 300;
    text-indent: 15px;
    }
    .recipes_user_agreement > ol > li > ol {
    padding: 0;
    margin: 0;
    list-style-position: inside;
    }
    .recipes_user_agreement > ol > li > ol > li {
    padding: 0 0 10px 15px;
    margin: 0;
    }
    .recipes_user_agreement > ol > li > ol > li > ul {
    padding: 20px 0 20px 10px;
    margin: 0;
    list-style-position: inside;
    }
    .recipes_user_agreement > ol > li > ol > li > ul > li {
    padding: 0 0 0 15px;
    margin: 0;
    list-style-type: disc;
    }
    .recipes_user_agreement > ol > li > ol > li > ol > li > ul {
    padding: 10px;
    margin: 0;
    list-style-position: inside;
    }
    .recipes_user_agreement > ol > li > ol > li > ol > li > ul > li {
    padding: 0 0 0 15px;
    margin: 0;
    list-style-type: disc;
    }
    .recipes_user_agreement .table-of-contents {
    padding: 0 20px;
    }
    .recipes_user_agreement .table-of-contents a {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    }
    .sub-content {
    padding: 2px 0 10px 0;
    }
    .recipes_user_agreement ol {
    counter-reset: li;
    list-style-type: none;
    }
    .recipes_user_agreement ol > li:before {
    counter-increment: li;
    content: counters(li, ".") ".";
    padding-right: 5px;
    }
  </style>
  <h1>USER AGREEMENT</h1>
  <hr>
  <p>Thank you for your interest in our products and services. They are provided by
    <a href="https://recipes-2021.herokuapp.com/about/" target="_blank">CORAL Group</a>
    (Compubyte Limited, CORAL Ltd, LLC CORAL Media; hereinafter referred to as the "Contractor", "CORAL", "We"). CORAL
    publishes this Agreement which is a public offer to provide the services of information posting on the Internet
    and other related services. Conclusive actions by a natural person or a legal entity, hereinafter referred to as
    the "User", aimed at using the service, are considered to be an unconditional acceptance of this Agreement.
  </p>
  <ol>
    <li>
      <h4>DEFINITIONS</h4>
      <p><b>Service </b> means a software complex located on the Internet at the official CORAL website and designed to
        provide the services to the Users.
      </p>
      <p><b>User</b> is a natural person or a legal entity, having legal competence, who has registered voluntarily on the
        Website and who is one of the parties in this Agreement.
      </p>
      <p><b>Registration </b>is the procedure during which the User provides accurate data about himself/herself,
        including the Username and the Password, unless it is generated automatically, in the form approved by CORAL.
        Registration is considered complete only if the User passes successfully all its stages, including the
        verification of the User's account by clicking on the unique link, sent to the email address provided by the
        User.
      </p>
      <p>The activation of this link by the User is the moment of acceptance of this Agreement between the User and CORAL,
        i.e. full and unconditional acceptance of this Agreement by the Parties.
      </p>
      <p><b>Username</b> is a unique name (nickname) provided by the User during the registration to be used for the
        User's identification and, when used together with the password, to get access to the Website's Services by the
        User.
      </p>
      <p><b>Password </b>is an alphanumeric code provided by the User or generated automatically during the Registration,
        stored by both Parties of this Agreement in secret from third parties, and used together with the Username to
        get access to the Website's Services by the User.
      </p>
      <p><b>Username and Password</b> are the identification data provided by the User that are recognized by the Parties
        as the analogue of the User's signature.
      </p>
      <p><b>User's Personal Registration Data</b> is the data voluntarily provided by the User during the Registration.
        The data is stored in the CORAL's database and shall be used solely in accordance with this Agreement and the
        applicable international law.
      </p>
      <p><b>Account </b>is an account, a structure of specific data, information, and a scope of provided services that
        belong collectively to a single entry in the CORAL's database and are individualized by the data provided by the
        User during the Registration.
      </p>
      <p><b>Personal Website</b> is a website/websites created by the User with the help of the software provided by CORAL.
      </p>
      <p><b>Entries </b> – mean information in any form (text, audio, video, graphics files, photos, and any other files)
        used (as well as stored, distributed, transferred etc.) by the User in any form (including but not limited to a
        text message, an attached file of any format, links on the Internet, etc.) within or through using the Service
        and its tools.
      </p>
    </li>
    <li>
      <h4>SUBJECT OF THE AGREEMENT</h4>
      <ol>
        <li>This Agreement regulates the relations between the User, on the one hand, and CORAL, on the other hand,
          on providing to the User the services listed in paragraph 2.2 of the Agreement.
        </li>
        <li>
          In accordance with this Agreement CORAL provides the following services:
          <ul>
            <li>provides storage space for placement of information on a CORAL server and the access to this
              information through Internet (hosting) for the Website created by the User;
            </li>
            <li>gives a third-level or a fourth-level domain name to the User to create the Website;</li>
            <li>other services provided by the Agreement and Annexes thereto.</li>
          </ul>
        </li>
        <li>The User gets access to the Service by logging in to the official CORAL website after entering the
          personal username and password. The User's Account is used to manage the Personal Website.
        </li>
        <li> CORAL reserves the right to display advertisements on pages of the User’s Website, created with the
          Service’s tools and software, if it does not contradict the terms of the plans specified in section 5 of
          the Agreement.
        </li>
      </ol>
    </li>
    <li>
      <h4>RIGHTS AND OBLIGATIONS OF CORAL</h4>
      <ol>
        <li>CORAL shall provide the Services to the extent that corresponds to the amount paid by the User for the
          Services in accordance with the Agreement, 24 hours a day 7 days a week, including weekends and
          holidays, within the technical limitations specified in
          <a href="https://recipes-2021.herokuapp.com/limits" target="_blank">Annex No.1</a>.
        </li>
        <li>
          CORAL has the right to temporarily or permanently refuse to provide the Services to the User if the
          Personal Website exceeds the technical limitations specified in
          <a href="https://recipes-2021.herokuapp.com/limits" target="_blank"> Annex No.1</a>, which creates a critical
          load on the server and/or interferes with the stable operation of the Service and/or
          other threats to the Service that entail or create a risk of negative consequences of some form for the Service and the
          Users of the Service. The User agrees that the discontinuation of Services because the technical
          limitations specified in <a href="https://recipes-2021.herokuapp.com/limits" target="_blank">Annex No.1</a>
          had been exceeded cannot be considered as a violation of the User’s rights to receive the Services due to the fact that in
          accordance with the terms of this Agreement CORAL offers the Services exclusively in compliance with the technical
          limitations within which the provision of the Services is carried out in full and in an orderly manner.
        </li>
        <li>
          CORAL shall make all reasonable efforts to ensure stable operation of the Service, its gradual
          improvement, fixing of the Service’s errors, however:
          The Service is provided to the User “as is”. This means that CORAL:
          <ul>
            <li>does not guarantee absence of errors in the operation of the Service;</li>
            <li>does not guarantee uninterrupted operation of the Service, its compatibility with the User’s
              software and hardware or that of any other persons;
            </li>
            <li>is not liable for the loss of the Entries or for any damage that was caused or may be caused in
              connection to or when using the Service;
            </li>
            <li>is not liable for any distortion, alteration, optical illusion of the User's images, photos,
              videos, and other Entries that occurred or may occur when using the Service, even if it causes
              mockery, scandal, condemnation or disdain;
            </li>
            <li>is not liable for non-performance or improper performance of its obligations due to disruptions
              in the telecommunication and energy networks, malicious software, as well as fraudulent actions
              by third parties aimed at unauthorized access and/or disabling of the CORAL's software and/or
              hardware.
            </li>
          </ul>
        </li>
        <li>CORAL has the right to give to the User access to the Service and maintain the Service and its tools in
          the working condition, as well as suspend the provision of the Web applications for the periods
          necessary for scheduled maintenance or restoration works on the hardware with a preliminary notification
          on the CORAL Community Forum or through social networking sites.
        </li>
        <li>The User agrees that CORAL has the right to use the data provided by the User during the Registration to
          run events related to the Service, as well as send notifications to the e-mail address and/or SMS
          messages to the mobile phone number that were provided by the User, place advertising and informational
          messages in the space limited by the User’s access.
        </li>
        <li>CORAL reserves the right to contact the User through phone calls or by sending SMS messages to check the
          quality of the provided services and to provide the User with critically important information. The User
          may request cancellation of phone calls and SMS at any time by informing CORAL.
        </li>
        <li>CORAL reserves the right to ask the User for scanned copies of the Users documents to verify the identity
          of the account/domains owner. CORAL is also obliged to provide accurate contact information about the
          User upon request of law enforcement authorities or other authorized organizations.
        </li>
        <li>CORAL shall ensure confidentiality and safety of the registration data received from the User, except
          when such disclosure happens through no fault of CORAL, and except for the cases stipulated by the
          applicable international law.
        </li>
        <li>CORAL is under no circumstances liable for the content of the Entries published or sent by the User, or
          received by the User from other Users.
        </li>
        <li>CORAL shall not pre-moderate the content of the Entries and is under no circumstances liable for their
          compliance with the requirements of the applicable law, as well as for possible infringement of the
          rights of third parties due to publishing of the Entries when using the Service or in relation to it.
        </li>
        <li>CORAL shall provide technical support to the User on conditions and issues that are described in
          paragraph 3.12. of this Agreement.
        </li>
        <li>
          Technical support is provided in written form only upon the User's official request through sending an
          e-mail message to the e-mail address <a href="mailto:ruban.rails.dev@gmail.com">ruban.rails.dev@gmail.com</a> or
          by filling in the Contact Us form on the official CORAL website, or through submitting a request in the
          Website’s Control Panel. Consultation by the specialist can be provided on the following issues:
          registration and problems that may occur in the process, functioning of the Service and its tools,
          retrieval of a lost password. Support is not provided on hardware, software or Internet access setup for
          the User or third parties, as well as on other questions that are not related to the work of the
          Service.
          <ol>
            <li>CORAL reserves the right to deny technical support to the User in case of the User's
              inappropriate behavior when contacting a CORAL support specialist.
              The paid for Premium support, that is specified in selected service plans can not be denied
              through this clause.
            </li>
            <li>
              CORAL is not obligated to return or delete the Entries provided by the User through the use of
              the Service.
            </li>
          </ol>
        </li>
      </ol>
    </li>
    <li>
      <h4>RIGHTS AND OBLIGATIONS OF THE USER</h4>
      <ol>
        <li>The User has the right to use the Service in the ways that are not prohibited by this Agreement and by
          the applicable international law.
        </li>
        <li>The User shall not infringe the rights of third parties when publishing the Entries through the
          Service.
        </li>
        <li>The User understands, accepts and agrees that when registering a third-level or a fourth-level domain
          name the User becomes the Administrator of the registered domain name and shall be fully responsible
          under the international law and the terms of this Agreement.
        </li>
        <li>In case there are technical problems in the work of the Service, or in case the User receives
          unauthorized advertising messages or messages that contain the Entries prohibited by the Agreement,
          including threats or files suspected of viruses, in case the User discovers the facts giving reason to
          believe that the User's access was used by someone illegally, the User has the right to contact CORAL
          with a request to clarify the situation and take the required measures.
        </li>
        <li>The User is responsible for keeping the username/password beyond the reach of third parties and their
          timely change in case of their loss or other necessity.
        </li>
        <li>The User is liable to CORAL for providing true and accurate contact and registration information about
          himself/herself during the Registration to the Service. In case the provided data change, the User shall
          inform CORAL about it by changing the details.
        </li>
        <li>
          The User shall never and under no circumstances use the Service to:
          <ol>
            <li>
              publish, distribute, store, transfer in any form (including but not limited to a text message,
              an attached file of any format, links on the Internet) the Entries that:
              <ul>
                <li>are indecent, offensive, vulgar, malicious, threatening, defamatory, false, or
                  pornographic;
                </li>
                <li>harm honor and dignity, rights and legitimate interests of third parties, may promote
                  incitement of religious, racial, or ethnic hatred, contain elements of violence, call
                  for breaking the law in force or for illegal actions etc.;
                </li>
                <li>infringe the rights for results of intellectual activity or brand identity (including
                  copyrights, neighboring rights, patent rights etc.) of third parties;
                </li>
                <li>violate the rights of minors;</li>
                <li>contribute to the emergence of interest in or distribution of drugs, weapons and
                  ammunition, any form of terrorism, illegal and Nazi activities;
                </li>
                <li>contain information that is not allowed to be disclosed (information constituting state
                  secrets, personal data of third parties, information prohibited for disclosure by virtue
                  of contractual or fiduciary relations of the User, etc.);
                </li>
                <li>contain software viruses or any other computer codes, programs, files, aiming to harm
                  the functionality of any computer or telecommunications equipment and parts thereof,
                  including servers and other components of the network infrastructure and software.
                  Sending of malware is prohibited in any form, including a complete code or its part, any
                  individual files of any formats, as well as Internet links to them;
                </li>
                <li>contain advertisements that are not authorized by CORAL, spam (including all forms of
                  search engine spam), flood, chain mail, multi-level marketing schemes, ways to earn
                  money on the Internet (including through e-mails), information provoking a "chain
                  reaction" in sending messages by recipients and other similar information, that contain
                  profanity;
                </li>
                <li>are aimed at artificial increasing of the User's rating or the rating of other Users;
                </li>
                <li>any other Entries, the distribution, disclosure or other use of which is prohibited or
                  restricted by law, agreement or otherwise.
                </li>
              </ul>
            </li>
            <li>connect and use any software designed to hack or aggregate personal data of other Users,
              including usernames, passwords, etc. (phishing), as well as for automatic mass mailing of any
              content;
            </li>
            <li>artificially increase traffic for their websites, imitate hits by visitors, particularly by
              loading pages of the User’s or someone else’s website in iframes, participating in traffic
              exchange networks (autosurfing). Such actions are considered as infliction of direct harm on
              CORAL;
            </li>
            <li>deceive anyone by using someone else's name and by deliberate publishing, sending messages, or
              in any other ways use the name illegally for intentional infliction of damages on someone or for
              any personal gain;
            </li>
            <li>use spamming to promote the Website, create so-called “doorway pages” and other forms of search
              engine spam;
            </li>
            <li>place on the website pornographic banners, as well as codes that open new windows (pop-up,
              pop-under) with pornographic content;
            </li>
            <li>carry into effect other actions that are prohibited or restricted by the international law.</li>
          </ol>
        </li>
        <li>
          By accepting this agreement the User understands, accepts and agrees that:
          <ul>
            <li>the User shall be fully and personally liable for the content and compliance of all Entries,
              including all texts, software, music, audio, photos, graphic files, video, etc., with the
              international law;
            </li>
            <li>the User shall be fully and personally liable for the compliance of the ways to use the Entries
              of other Users and other information provided at the Service with the international law
              (including but not limited to the intellectual property and data protection law);
            </li>
            <li>the User shall be fully responsible for the safety of his/her account (the username and the
              password), as well as for actions performed under his/her account;
            </li>
            <li>the User shall not use the Account only for file storage, not having any active (visited) web
              applications (Web Polls, Tag Board, Statistics, and E-mail Forms are not taken into account);
            </li>
            <li>the User shall not cause any harm to the software environment, hardware and software, node
              machines of the Service and third parties.
            </li>
          </ul>
        </li>
        <li>In case of breach by the User of any of the Agreement’s provisions CORAL reserves the right to terminate
          the User's access to the Service (including blocking the access to the Service from the IP address that
          was used by the User to register/to publish the largest number of the Entries) and to transfer the
          Entries confirming the Users' illegal actions for action by the law-enforcement authorities.
        </li>
        <li> The User agrees to reimburse to CORAL any losses incurred by CORAL in connection to the use of the
          Service by the User, to the breach by the User of this Agreement and the rights (including intellectual
          property rights, information rights, etc.) of any third party.
        </li>
        <li>The User acknowledges and agrees that the IP address of the User's personal computer is recorded with
          CORAL's technical tools, and in case of illegal actions, including actions that violate the intellectual
          property rights of third parties, the owner of the personal computer with the IP address determined by
          CORAL's technical tools is deemed responsible for these illegal actions.
        </li>
      </ol>
    </li>
    <li>
      <h4>PAID ADDITIONAL SERVICES</h4>
      <ol>
        <li>The Services listed in paragraph 2.2. of this Agreement shall be provided free of charge.
        </li>
        <li>The cost of paid services is determined in accordance with the Plans listed in the Control Panel of the
          Account and on the <a href="https://recipes-2021.herokuapp.com/pricing">official CORAL website</a>.
          The cost of the services under this Agreement is 15% of the Plan.
        </li>
        <li> CORAL has the right to unilaterally change the Plans at any time.
        </li>
        <li>The Services are paid by the User on the prepayment basis, the payment method is chosen by the User
          independently from the options available in the Control Panel of the Account.
        </li>
        <li>The start date of the Services provision shall be the date when CORAL receives the amount paid by the
          User.
        </li>
        <li>When requesting a refund, the User pays the maintenance commission established by the payment
          system, as well as one month's cost of the services for early termination.
        </li>
        <li>A refund is not provided if the User's Account was blocked for violations listed in paragraphs 4.7. and
          4.8. of this Agreement.
        </li>
        <li>The User agrees that the paid plans are provided with automatic renewal upon expiration through
          automatic withdrawal of the required amount from the User's card, for the purpose of uninterrupted
          provision of the services. The paid services are automatically renewed for the same period as the
          previous subscription, the cost of the services is established as of the renewal date and may differ
          from the cost of the previous subscription.<br>
          The User can manage automatic renewal of the paid services in the Control Panel of the Website.<br>
          According to the <a href="https://recipes-2021.herokuapp.com/privacy" target="_blank">Privacy Policy</a>,
          the User may request a refund for the unused period of the plan by contacting the CORAL's support by email
          or a message from the Website’s Control Panel.
        </li>
        <li>
          Merchant location: Khoryv Lane, 1, Kiev 04071, Ukraine.<br>The address for cardholder
          correspondence: ruban.rails.dev@gmail.com
        </li>
      </ol>
    </li>
    <li>
      <h4>SETTLEMENT OF DISPUTES AND CLAIMS</h4>
      <ol>
        <li>All disputes and claims are regulated by the provisions of this Agreement, and in case they are not
          settled - in the procedure established by the applicable law.
        </li>
        <li> Any questions, comments, and other correspondence should be sent by the User to CORAL as a message
          through the contact form on the CORAL’s website or through the Control Panel of the User’s website. CORAL
          is not responsible for and does not guarantee a response to inquiries, questions, suggestions or other
          information sent to CORAL in any other way.
        </li>
        <li>Claims that arise in connection to the Agreement and that are related to the violation of intellectual
          property rights of third parties should be sent to CORAL as a message through the contact form on the
          CORAL’s website. CORAL shall review the claim within ten (10) working days and, if necessary, send a
          message outlining the company’s position to the e-mail address specified in the claim. Claims by persons
          whom it is not possible to identify on the basis of the provided registration data (including anonymous
          claims) are not considered by CORAL. If the complainant does not agree with the reasons given by CORAL in
          the response to the claim, the settlement procedure is repeated by means of sending a reasoned response
          by the complainant by registered mail with return receipt. In case the claim cannot be settled through
          negotiation, the dispute is resolved in the order set by this Agreement.
        </li>
        <li>The User and CORAL agree that any disputes arising in connection with this Agreement shall be resolved by
          the parties according to the norms of the international law and are considered at the location of CORAL.
        </li>
      </ol>
    </li>
    <li>
      <h4> TERM OF THE AGREEMENT</h4>
      <ol>
        <li>This Agreement is concluded between the parties for an indefinite period, as long as the User uses the
          Service continuously.
        </li>
        <li>If the Account is considered to be abandoned due to the lack of attendance of interactive Web
          applications (activity in E-mail Forms, Tag Board, Web Polls, Statistics is not counted), and not
          logging in to the Control Panel for at least 40 days, CORAL may suspend provision of the services. At the
          same time the User’s Username and Password will be saved with the possibility of re-activation within 15
          days after the termination of the possibility to use the Service by User. To re-obtain a reactivation
          link to the e-mail address specified during the first registration, the User must contact the CORAL’s
          support by sending a message to <a href="mailto:ruban.rails.dev@gmail.com">support@CORAL.com</a>. CORAL reserves
          the right to provide or not to provide to the User the re-activation. The exception is a valid paid
          service (paid by the User and being in the process of execution), in this case CORAL is not entitled to
          terminate the Username and Password on the grounds provided for in this paragraph.
        </li>
      </ol>
    </li>
    <li>
      <h4>ADDITIONAL PROVISIONS</h4>
      <ol>
        <li>The current version of the Agreement is published on the Internet at
          <a href="https://recipes-2021.herokuapp.com/terms">https://recipes-2021.herokuapp.com/terms</a>.
        </li>
        <li>CORAL reserves the right to unilaterally and without prior notice change the terms of the Agreement by
          publishing the final version of the Agreement at <a href="https://recipes-2021.herokuapp.com/terms">
          https://recipes-2021.herokuapp.com/terms</a>. The provisions of the new edition of the User Agreement shall
          be binding on all previously registered users.
        </li>
        <li>This Agreement is made in Russian language and it is translated into other languages for your
          convenience. You can check the other Agreement versions by changing the language settings of the
          Service. In case if the Agreement's translation contradicts with the Russian version in one way or
          another, the Russian version is applied.
        </li>
      </ol>
    </li>
  </ol>
</div>
