<h3>Your Favorite recipes</h3>
<ol>
<% current_user.favorites.each do |favorite|%>
  <li>
    <%= link_to favorite.recipe.title, favorite.recipe, class: 'text-decoration-none text-reset' %>
    <span class="fw-lighter">(added: <%= favorite.recipe.created_at.strftime('%H:%M  %d.%m.%Y') %>)</span>
  </li>
<% end %>
</ol>