<p id="notice"><%= notice %></p>

<div class='d-flex justify-content-between'>
  <h1 class='mt-5 mb-4'>Recipes</h1>
  <% if user_signed_in? %>
  <div class='d-flex align-items-center'>
    <%= link_to 'New Recipe', new_recipe_path, class: "btn btn-primary mt-3"  %>
  </div>
  <% end %>
</div>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col" class="col-1 text-center">Preview</th>
      <th scope="col" class="col-3 text-center">Title</th>
      <th scope="col" class="col-4 text-center">Description</th>
      <th scope="col" class="col-2 text-center">User</th>
      <th colspan="3" class='text-center col-2'>Action</th>
    </tr>
  </thead>

  <tbody>
    <%= render 'recipes/recipe', locals: { recipes: @recipes } %>
  </tbody>
</table>

<div class='d-flex justify-content-center'><%= paginate @recipes %></div>


