<%= form_with url: search_path, method: :get, class: 'd-flex', data: { action: "ajax:success->search#handleResults", "search-target" => "form" }, local: false do |form| %>
  <div>
    <%= form.text_field :search, data: { action: "input->search#search" },
                          autocomplete: "off", placeholder: 'Autocomplete search...',
                          class: 'form-control me-2', id: 'autocomplete-input' %>
  </div>
<% end %>
