<ul class="list-group">
  <li class="list-group-item" role="option">
    <%= link_to image_preview(recipe, recipe), recipe %>
    &nbsp;
    <%= link_to recipe.title, recipe, class: 'text-decoration-none text-primary' %>
  </li>
</ul>
