<ul class="list-group">
  <li class="list-group-item" role="option">
    <%= link_to image_preview(recipe, true), recipe %>
    &nbsp;
    <%= link_to recipe.title, recipe, class: 'text-decoration-none text-primary' %>
    <%= link_to '#', class: 'autocomplete-close' do %>
      <span style="position: absolute; top: 3px; font-size: 20px;right: 10px;">
        &times;
      </span>
    <% end %>
  </li>
</ul>
