<div>
  <h2>Categories:</h2>
  <ul class='nav nav-pills flex-column'>
    <% Category.roots.each do |category| %>
      <li class='nav-item'>
        <%= link_to category.name, category, class: "nav-link #{'active' if current_page?(category_path(category)) || @recipe.present? && @recipe.category == category}" %>
        <%= render 'shared/submenu_categories', categories: category.root.descendants.arrange %>
      </li>
    <% end %>
  </ul>
</div>

<div class='mt-4 mb-2'>
  <h2>Tags cloud:</h2>
  <% tag_cloud(Tag.counts, %w{tag1 tag2 tag3 tag4 tag5}) do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>