<div class="container <%= 'col-md-2' if controller_name != 'dashboard'%>">
  <div class="app-title">
    <p>Weather</p>
  </div>
  <div class="notification"></div>
  <div class="weather-container">
    <div class="weather-icon">
      <%= image_tag("unknown_weather_icon.png") %>
    </div>
    <div class="temperature-value">
      <p>- ° <span>C</span></p>
    </div>
    <div class="temperature-description">
      <p>-</p>
    </div>
    <div class="location">
      <p> - </p>
    </div>
  </div>
  <div class="app-footer">
    <p>
      <%= link_to 'secretpray© 2021', 'https://github.com/secretpray/Recipes', target: :blank, class: 'text-decoration-none text-muted' %>
    </p>
  </div>
</div>
