<div class='d-flex vh-100 align-items-center'>
  <center class="container">
    <br>
    <h2 class="my-3 bg-danger p-3 text-white w-50">
      500
      <%= action_name.humanize %>
    </h2>
    <br>
    <b>
      We had a problem loading this page.
    </b>
    <br>
    <%= link_to "Back", root_path, class: "btn btn-secondary mt-3 px-5" %>
  </center>
</div>
