<div class="limits recipes_info-page-wrap">
  <!-- Lity -->
  <link href="/ucoz/v3/css/lity.min.css" type="text/css" rel="stylesheet">
  <script type="text/javascript" src="/ucoz/v3/js/lity.min.js"></script>
  <style>
    .recipes_info-page-wrap{padding:30px 50px 50px; }
    .recipes_info-page-wrap th{text-align:center; }
    .recipes_info-page-wrap td{text-align:left; }
    .recipes_info-page-wrap th, td{border-bottom:solid 1px #efefef; padding:5px 9px; }
    .recipes_info-page-wrap tr > td:first-child{font-weight:bold; }
  </style>
  <div style="text-align:right; font-size:16px;">Annex 1</div>
  <br>
  <table cellspacing="1" cellpadding="2" width="100%" style="border:solid 1px #CCC">
    <tbody>
      <tr>
        <th colspan="2" style="height:30px; ">Modules</th>
      </tr>
      <tr>
        <td style="width:200px; ">Users</td>
        <td>
          - 30 groups can be created in addition to the default groups<br>
          - the maximum length of a group title is 30 characters
        </td>
      </tr>
      <tr>
        <td>Page Editor</td>
        <td>
          - it is possible to create 20 pages with personal templates<br>
          - the maximum page size is 130,000 characters (75 thousand for the design and 60 thousand for the content. The maximum length of a TEXT field is 65535 bytes.)<br>
          - 20 images can be attached through the Images field
        </td>
      </tr>
      <tr>
        <td>Site News</td>
        <td>
          - the maximum number of entries is 80,000<br>
          - the maximum length of full entry text is 60,000 characters<br>
          - the maximum length of an entry title is 139 characters (spaces included)<br>
          - the maximum length of a category title is 100 characters (spaces included)
        </td>
      </tr>
      <tr>
        <td>Forum</td>
        <td>
          - one forum board can have up to 4 moderators<br>
          - the maximum number of forum sections is 100<br>
          - the maximum number of subforums is 200<br>
          - the maximum total number of forums and subforums is 1000<br>
          - the maximum number of posts in a forum thread is 10,000<br>
          - the maximum number of threads is 80,000<br>
          - the maximum number of forum boards is up to ID 255, afterward they cannot be created<br>
          - the maximum length of a thread title and a thread description is 60 characters (spaces included)<br>
          - the maximum length of a poll title and a poll description 60 characters (spaces included)<br>
          - the maximum length of a poll question is 100 characters (spaces included)<br>
          - the maximum number of poll answers is 10
        </td>
      </tr>
      <tr>
        <td>Publisher</td>
        <td>
          - the maximum number of entries is 80,000<br>
          - the maximum length of an entry title is 140 characters (spaces included)<br>
          - the maximum length of a category title is 100 characters (spaces included)
        </td>
      </tr>
      <tr>
        <td>File Catalog</td>
        <td>
          - the maximum number of entries is 80,000<br>
          - 2 filters<br>
          - in filters the maximum number of items is 100, 40 characters each<br>
          - the maximum length of an entry title is 140 characters (spaces included)<br>
          - the maximum length of a category title is 100 characters (spaces included)<br>
          - the maximum length of full entry text is 60,000 characters (if the option "Substitute line feeds with the BR tag" is disabled)
        </td>
      </tr>
      <tr>
        <td>Site Catalog</td>
        <td>
          - the maximum number of entries is 80,000<br>
          - 2 filters<br>
          - in filters the maximum number of items is 100, 40 characters each<br>
          - the maximum length of an entry title is 140 characters (spaces included)<br>
          - the maximum length of a category title is 100 characters (spaces included)
        </td>
      </tr>
      <tr>
        <td>Ad Board</td>
        <td>
          - the maximum number of entries is 80,000<br>
          - 3 filters<br>
          - the maximum length of an entry title is 140 characters (spaces included)<br>
          - the maximum length of a category title is 100 characters (spaces included)
        </td>
      </tr>
      <tr>
        <td>Blog</td>
        <td>
          - the maximum number of entries is 80,000<br>
          - the maximum length of an entry title is 140 characters (spaces included)<br>
          - the maximum length of a category title is 100 characters (spaces included)
        </td>
      </tr>
      <tr>
        <td>Photo Albums</td>
        <td>
          - the maximum number of entries is 80,000<br>
          - 2 filters<br>
          - the maximum length of a photo title is 50 characters (spaces included)<br>
          - the maximum length of a category title is 100 characters (spaces included)<br>
          - the "Maximum dimensions of a full-sized image" option cannot be less than 500*500px.
        </td>
      </tr>
      <tr>
        <td>Online Games</td>
        <td>
          - the maximum number of entries is 80,000<br>
          - 3 filters<br>
          - the maximum length of a game title is 200 characters (spaces included)<br>
          - the maximum length of a category title is 100 characters (spaces included)
        </td>
      </tr>
      <tr>
        <td>Guestbook</td>
        <td>
          - the maximum number of entries is 80,000. If the limit is exceeded, older messages are deleted and replaced with new ones, the same as Private Messages.<br>
          - the maximum number of categories and subcategories is 1,000<br>
          - the maximum length of entry text is 988 characters (spaces included)
        </td>
      </tr>
      <tr>
        <td>FAQ</td>
        <td>
          - the maximum number of entries is 80,000<br>
          - the maximum length of a question subject is 230 characters (spaces included)<br>
          - the maximum length of a category title is 100 characters (spaces included)
        </td>
      </tr>
      <tr>
        <td>Site Search</td>
        <td>
          - new entries are indexed within 4 days
        </td>
      </tr>
      <tr>
        <td>Tests</td>
        <td>
          - the maximum number of questions is 1,000<br>
          - the maximum number of answers to a question is 100<br>
          - the maximum length of an answer is 250 characters<br>
          - the maximum length of a question is 250 characters<br>
          - the maximum length of a category title is 100 characters (spaces included)
        </td>
      </tr>
      <tr>
        <td>Tag Board</td>
        <td>
          - the minimum message length is 200 characters, the maximum length is 500 characters (spaces included)
        </td>
      </tr>
      <tr>
        <td>Email Forms</td>
        <td>
          - the maximum number of forms is 50<br>
          - the maximum number of "Tell a Friend" forms is 10<br>
          - the maximum number of fields for files is 100<br>
          - the maximum size of an attached file is 10 MB<br>
          - the maximum length of a form template is 10,000 characters
        </td>
      </tr>
      <tr>
        <td>Web Polls</td>
        <td>
          - the maximum number of polls is 60<br>
          - the maximum number of poll answers is 15
        </td>
      </tr>
      <tr>
        <td>Statistics</td>
        <td>
          - the maximum number of domains to record statistics for is 10
        </td>
      </tr>
      <tr>
        <td>E-shop</td>
        <td>
          - the maximum length for all options must not exceed 255 characters<br>
          - the price upload limit in the "Processing of .xls(x) price list" section is 25 seconds<br>
          - uploading of a price list that contains more than 100,000 items or has the size of more than 5MB is not guaranteed<br>
          - there is no limitation on the number of subagents<br>
          - the maximum number of items for the sorting in the "Goods management" section to work properly is 7,000<br>
          - there is not limit on the number of categories, the main condition is that the "Item categories" section should load within 20 seconds<br>
          - images are cropped to 500px if the uploaded image exceeds the limitation of 1600 px at one side<br>
          - the maximum number of uploaded images to an item is 255
        </td>
      </tr>
      <tr>
        <td>Video</td>
        <td>
          - 3 filters<br>
          - the maximum length of an entry title is 200 characters (spaces included)<br>
          - the maximum length of a category title is 100 characters (spaces included)<br>
          - the maximum length of a channel title is 50 characters (spaces included)<br>
          - the maximum length of an entry description is 10,000 characters (spaces included)
        </td>
      </tr>
    </tbody>
  </table>
  <br><br>
  <table cellspacing="1" cellpadding="2" width="100%" style="border:solid 1px #CCC">
    <tbody>
      <tr>
        <th colspan="2" style="height:30px; " align="center">Features</th>
      </tr>
      <tr>
        <td style="width:200px; ">Subdomains</td>
        <td>
          - 75 records (A, MX, CNAME, etc.)
        </td>
      </tr>
      <tr>
        <td>File Manager</td>
        <td>
          - the maximum length of a file title together with the extension is 45 characters<br>
          - the maximum size of a file uploaded through Control Panel is 15MB<br>
          - one nesting level may contain up to 200 files and folders
        </td>
      </tr>
      <tr>
        <td>Templates</td>
        <td>
          - 10 global blocks, including the default blocks<br>
          - the maximum number of characters per one template is 60,000 (including the codes)
        </td>
      </tr>
      <tr>
        <td>Private Messages</td>
        <td>
          - the maximum number of messages for all groups except Blocked and Guests is 200 (Inbox+Sent)<br>
          - the maximum number of messages for the Users group is 100 (Inbox+Sent)<br>
          - if the limit is exceeded old messages are deleted, Sent first<br>
          - the maximum length of a private message is 5050 characters for users with the administrative permissions and 1050 characters for other users (spaces included)
        </td>
      </tr>
      <tr>
        <td>Informers</td>
        <td>
          - the maximum number of informers is 30<br>
          - the maximum length of an informer template is 20,000 characters
        </td>
      </tr>
      <tr>
        <td>Site Menu Builder</td>
        <td>
          - the maximum number of menus is 10
        </td>
      </tr>
      <tr>
        <td>Smileys</td>
        <td>
          - the maximum number of smileys near the message posting form is 16
        </td>
      </tr>
      <tr>
        <td>Banner Rotator</td>
        <td>
          - the maximum number of categories is 10, the maximum number of banners is 60 (regardless of the category)
        </td>
      </tr>
      <tr>
        <td>Sitemap</td>
        <td>
          - the maximum number of pages is 10,000
        </td>
      </tr>
      <tr>
        <td>Tags</td>
        <td>
          - the maximum number of tags is 25<br>
          - the length of each tag must be &gt;1 and &lt;35 <br>
          - the maximum length of all tags is 300 characters
        </td>
      </tr>
      <tr>
        <td>Comments</td>
        <td>
          - the maximum number of comments per one entry is 4,000<br>
          - the maximum nesting level is 15<br>
          - the maximum number of characters per one comment is 5,000
        </td>
      </tr>
      <tr>
        <td>Passwords</td>
        <td>
          - the maximum length of the Control Panel password is 32 characters<br>
          - the password may only contain Latin letters, digits, underscores, and hyphens<br>
          - the minimum length of the password is 6 characters, the maximum length is 15 characters
        </td>
      </tr>
      <tr>
        <td>Reputation</td>
        <td>
          - the maximum number of reputation entries is 32,767
        </td>
      </tr>
      <tr>
        <td>Ranks</td>
        <td>
          - the maximum number of ranks is 10<br>
          - the maximum length of a title is 50 characters
        </td>
      </tr>
      <tr>
        <td>Mass Emailing to Users</td>
        <td>
          - the maximum length of a message is 10,000 characters<br>
          - the maximum number of categories is 20<br>
          - the mass mailing is possible not more often than once per 5 hours
        </td>
      </tr>
      <tr>
        <td>Categories</td>
        <td>
          - the maximum number of categories is 1,000<br>
          - the maximum length of a category description is 1,000 characters
        </td>
      </tr>
      <tr>
        <td>IP Blocking</td>
        <td>
          - the maximum number of records is 50
        </td>
      </tr>
      <tr>
        <td>Import of Remote Code</td>
        <td>
          - the maximum number is 10
        </td>
      </tr>
      <tr>
        <td>RSS Import</td>
        <td>
          - the maximum number is 20
        </td>
      </tr>
      <tr>
        <td>Username in Control Panel</td>
        <td>
          - the minimum length of a username is 3 characters, the maximum length is 25 characters<br>
          - a username may contain letters, digits, and hyphens
        </td>
      </tr>
      <tr>
        <td>Equipment Load</td>
        <td>
          - 3% of the server’s CPU resources<br>
          - 3% of the server’s network traffic
        </td>
      </tr>
    </tbody>
  </table>
</div>
