@import "font-awesome-sprockets";
@import "font-awesome";
@import "global";
@import "actiontext.scss";
@import "rails-social-share-button";


// Theme switcher
body.light {
  color: black;
  background-color: white;
}
body.dark {
  color: white !important;
  background-color: black;
  .text-reset {
    color: #ccc !important;
  }
}

// Social Share Button
$size: 24px;

.rails-social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}
