@import "normalize";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "global";
@import "actiontext.scss";
@import "rails-social-share-button";
@import "weather";
@import "autosearch";


// Theme switcher
body.darkmode {
  color: white !important;
  background-color: black !important;
  .text-reset {
    color: #ccc !important;
  }
}

// Social Share Button
$size: 24px;

.rails-social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}

.progress {
  height: 0.3rem !important;
}
