#navbarMain {  
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.logo-img img {
  position: relative;
  top: -5px;
}

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

#navbarMain {  
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.logo-img img {
  position: relative;
  top: -5px;
}

.recipe_image img {
  width: calc(100vw/6 - 30px);
  height: auto;
}

.index_data {
  position: relative;
}

.fav-span {
  position: absolute;
  top: 10px;
  left: 10px;
}
