@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

body, html * {
  font-family: 'Roboto', sans-serif;
  /*overflow: hidden;*/
  // background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

#navbarMain {  
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.logo-img img {
  position: relative;
  top: -5px;
}

#navbarMain {  
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.logo-img img {
  position: relative;
  top: -5px;
}

.recipe_image img {
  width: calc(100vw/6 - 30px);
  height: auto;
}

.index_data {
  position: relative;
}

.fav-span-category,
.fav-span {
  position: absolute;
  top: 10px;
  left: 10px;
}
 
.fav-span-category {
  top: 24px;
  left: 40px;
}

.card {
  // box-shadow: 5px 10px #888888;
  background: #fafafa;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

#favorite_container,
#dashboard-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
}

#favorite_card,
#dashboard-card {
  width: calc((100% / 3) - (2rem / 3));
  margin-left: 10px;
  margin-bottom: 10px;
}

// Flash styled
#flash-alert,
#flash-notice {
  margin: 20px auto;
  color: white;
  background: crimson;
  padding: 10px;
  text-align: center;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
  opacity: 1;
}

#flash-notice {
  background: cornflowerblue;
}
#errors-answer {
  overflow: hidden;
}

.hide {
  display: none;
}

.active {
  display: block;
}

.current {
  font-weight: 500 !important;
}

.btn-close {
  font-size: 11px;
  position: absolute;
  right: 1%;
  top: 30%;
}

// Autohide class for Flash
.fade-out {
  animation: fade linear 1.5s 1 normal forwards !important;
}

@keyframes fade {
    0% { opacity: 1; height: auto; }
    80% { opacity: 0; height: auto; transform: translateY(-30%);}
    100% { opacity: 0; height: 0;}
}


// Autohide class for Errors
.fadeout {
  overflow: hidden;
  opacity: 1;
  animation: fade 2s ease-in 5s;
}

@keyframes fade {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-50%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

// FadeIt for inline update
.edited {
  background-image: none !important;
  -o-animation: fadeIt 2s ease-in-out;
  animation: fadeIt 2s ease-in-out;
}

@keyframes fadeIt {
  0%    { background-color: #F4F4F4; }
  50%   { background-color: #FFF9BE; }
  100%  { background-color: #F4F4F4; }
}

@-o-keyframes fadeIt {
  0%    { background-color: #F4F4F4; }
  50%   { background-color: #FFF9BE; }
  100%  { background-color: #F4F4F4; }
}

// 5 Star rating
.rating-box .ratings .fa{
  font-size: 24px;
  color:#ffcc00;
  cursor: pointer;
}

.main-rating {
  display: flex;
}

.rating-value-display {
  font-size: 20px;
  margin: -2px 4px;
}

.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;
}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
}

.average-score {
  display: flex;
}
.average-score-display {
  font-size: 16px;
}

// Submenu Categories
.nested_nav {
  margin-left: 1.5em;
}

.nav-breadcrumbs {
  background: whitesmoke;
  padding: 8px;
  border-radius: 7px;
}

// Tags footer for Recipe
.footer-tags-index {
  padding: 7px 4px 4px 7px;
}
.footer-tags-show {
  margin: 12px 4px -16px 2px;
}

.tag1 {
  font-size: .8em;
  text-decoration: none;
  color: #b0b5b5;
}
.tag2 {
  font-size: 1.0em;
  text-decoration: none;
  color:  #9da6a6;
}

.tag3 {
  font-size: 1.2em;
  text-decoration: none;
  color: #8a9797;
}
.tag4 {
  font-size: 1.4em;
  text-decoration: none;
  color: #809090;
}
.tag5 {
  font-size: 1.6em;
  text-decoration: none;
  color: #778888;

}