
.container-weather {
	width: 300px;
	background-color: #fff;
	display: block;
	margin: 0 auto;
	margin-top: 100px;
	border-radius: 10px;
	padding-bottom: 50px;
}
.app-footer,
.app-title {
	background-color: #f4f9ff;
	width: 300px;
	height: 50px;
	border-radius: 10px 10px 0 0;
}
.app-footer {
	border-radius: 0 0 10px 10px;
}
.app-footer p,
.app-title p {
	text-align: center;
	margin: 0 auto;
	color: #293251;
}

.app-title p {
	padding: 8px 15px 15px 15px;
	font-size: 1.6em;
	text-transform: uppercase;
}
.app-footer p {
	padding: 15px;
	font-size: .7em;
	color: grey;
	opacity: 80%;
}

.notification {
	background-color: #f8d7da;
	display: none;
}

.notification p {
	color: #721c24;
	font-size: 1.2em;
	margin: 0;
	text-align: center;
	padding: 10px 0;
}

.weather-container {
	width: 300px;
	height: 260px;
	background-color: rgba(244, 249, 255, .2);
	/* background-color: #f4f9ff; */
}

.weather-icon {
	width: 300px;
	height: 128px;
}

.weather-icon img {
	display: block;
	margin: 0 auto;
}

.temperature-value {
	width: 300px;
	height: 60px;
}

.temperature-value p {
	padding: 0;
	margin: 0;
	color: #293251;
	font-size: 4em;
	text-align: center;
}

.temperature-value span {
	color: #293251;
	font-size: .5em;
}

.temperature-description p {
	padding: 8px;
	margin: 0;
	color: #293251;
	text-align: center;
	font-size: 1.2em;
}

.location p {
	margin: 0;
	padding: 0;
	color: #293251;
	text-align: center;
	font-size: .9em;
}
