<div class='row'>
  <div class='col-md-9 jumbotron'>
    <h3>Category: <%= %></h3>
    <div class='row' id='dashboard-container'>
      <%= render partial: 'recipes/recipe_dashboard', locals: { recipes: @recipes } %>
    </div>
  </div>
  <div class='subnemu col-md-3'>
    <%= render 'shared/submenu' %>
  </div>
</div>